/* B站图标自定义 */
.custom-bilibili::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/images/bilibili.svg) no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

/* github图标自定义 */
.custom-github::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/github.svg) no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}